<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Optimización de Recursos y Tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sistema de Optimización de Recursos y Tareas</h1>
    
    <div class="container">
        <h2>Actividades y Costos Unitarios</h2>
        <table>
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Equipo Necesario</th>
                    <th>Costo (MXN)</th>
                    <th>Tiempo Aproximado (min)</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in actividades %}
                <tr>
                    <td>{{ actividad.actividad }}</td>
                    <td>{{ actividad.equipo }}</td>
                    <td>{{ actividad.costo }}</td>
                    <td>{{ actividad.tiempo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <form id="formulario-datos" method="POST" class="formulario-centrado">
        <div class="row">
            <div class="column">
                <input type="number" class="input" placeholder="Número de actividades" id="cantidadActividades" name="cantidadActividades" required>
            </div>
            <div class="column">
                <button type="button" class="marginB" id="generar-actividades">Generar Actividades</button>
            </div>
        </div>
        <div id="inputs-actividades"></div>
        <button class="buttonE">Enviar Datos</button>
    </form>

    <div id="resultados" class="container" style="display: none;">
        <table class="tablec">
            <thead>
                <tr>
                    <h2 class="thCenter">Mejor Solución</h2>
                </tr>
                <tr>
                    <th>Actividades</th>
                    <th>Productos</th>
                    <th>Personal Requerido</th>
                    <th>Tiempo Total (minutos)</th>
                    <th>Costo Total (MXN)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="actividades"></td>
                    <td id="productos"></td>
                    <td id="personal"></td>
                    <td id="tiempo"></td>
                    <td id="costo"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('generar-actividades').addEventListener('click', function() {
            const cantidadActividades = document.getElementById('cantidadActividades').value;
            const inputsContainer = document.getElementById('inputs-actividades');
            inputsContainer.innerHTML = '';

            const actividades = {{ actividades | tojson }};
            
            for (let i = 0; i < cantidadActividades; i++) {
                const select = document.createElement('select');
                select.name = 'actividad';
                select.classList.add('input'); 
                select.addEventListener('change', validarActividades);

                const optionDefault = document.createElement('option');
                optionDefault.value = '';
                optionDefault.textContent = 'Seleccionar';
                optionDefault.disabled = true;
                optionDefault.selected = true;
                select.appendChild(optionDefault);

                actividades.forEach(function(actividad) {
                    const option = document.createElement('option');
                    option.value = actividad.posicion;
                    option.textContent = actividad.actividad;
                    select.appendChild(option);
                });

                inputsContainer.appendChild(select);
                inputsContainer.appendChild(document.createElement('br'));
            }
        });

        function validarActividades() {
            const selects = document.querySelectorAll('select[name="actividad"]');
            const seleccionados = Array.from(selects).map(select => select.value);
            
            selects.forEach(select => {
                Array.from(select.options).forEach(option => {
                    option.disabled = seleccionados.includes(option.value) && option.value !== select.value;
                });
            });
        }

        document.getElementById('formulario-datos').addEventListener('submit', function(event) {
            event.preventDefault();
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(event.target))
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('resultados').style.display = 'block';
                document.getElementById('actividades').textContent = data.actividades.join(', ');
                document.getElementById('productos').textContent = data.productos.join(', ');
                document.getElementById('personal').textContent = data.personal_requerido;
                document.getElementById('tiempo').textContent = data.tiempo_total;
                document.getElementById('costo').textContent = data.costo_total;
            });
        });
    </script>
</body>
</html>
